* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(164, 161, 161);
    height: 500px;
    width: 400px;
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-sizing: border-box;
}

.title {
    color: black;
    font-size: 30px;
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.input-element {
    color: rgb(33, 28, 28);
    padding: 5px;
    margin: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 45px;
}

.input-element-box {
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    padding: 4px;
    margin-left: 50px;
    width: 300px;
    height: 30px;
}

.forget {
    color: rgb(142, 13, 13);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 245px;
    font-size: small;
}


.log-in {
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    border: none;
    margin-left: 50px;
    margin-top: 60px;
    width: 300px;
    color: white;
}